@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;

    --color: #000000;
    --background: #fff;
    --accent: #4548fd;
    --border: #e4e4e5;

    font-family: 'Geist Mono';
    font-weight: 400;
}

#notice {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-evenly; 
    padding: 20px;
    width: 100%;
}

#menu {
    display: none;
}

#left {
    width: 20vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left #filter {
    width: fit-content;
    border: 1px solid var(--border);
    border-radius: 15px;

    padding: 20px;
    margin-left: 50px;
}

#left div {
    margin-bottom: 30px;
}

#left div h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

#left #makes, #left #colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left #checkbox-wrapper {
    display: flex;
    align-items: center;
}

#left #search {
    background: var(--accent);
    color: var(--background);

    font-size: 20px;
    height: 30px;
    width: 100px;
    border-radius: 15px;
}

input[type=text] {
    margin-bottom: 10px;
    height: 25px;
    width: 125px;
    border: 1px solid var(--border);
}

.right h1 {
    margin-bottom: 20px;
}

#cars {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* three col */
    gap: 20px;
    align-items: start;
    padding-bottom: 20px;
    min-height: 200px; 
    min-width: 70vw;
}

#nothing {
    display: none;
    text-align: center; 
    padding: 20px; 
    font-size: 20px; 
    color: var(--accent);
}

#cars #container {
    border: 1px solid var(--border);
    border-radius: 15px;
    height: 410px;
    width: 100%;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

#cars #container img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

#cars #container h1 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding: 10px;
}

#cars #container hr {
    border: 1px solid var(--accent);
    align-self: center;
    border-radius: 2px;
    width: 80%;
}

#cars #container #wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cars #container h2 {
    font-size: 16px;
    padding: 10px;
}

#cars #container #price {
    font-weight: 600;
}

/* sizing for smaller screens */
@media screen and (max-width: 1800px) {
    .wrapper {
        gap: 20px;
    }

    #cars {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* two col */
        gap: 20px;
        align-items: start;
        min-height: 200px;
    }

}

@media screen and (max-width: 1250px) {
    body {
        position: relative;
    }

    #left {
        width: 5vw; 
    }

    #menu {
        display: flex;
    }

    #filter {
        display: none;
        position: absolute;
        top: 10;
        background: var(--background);
        box-shadow: 0 0 0 300vh rgba(0,0,0,0.65); /* puts everything behind it out of focus */
    }

    #wrapper {
        gap: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {
    #cars {
        grid-template-columns: repeat(1, 1fr); /* one col */
    }
}